.slider {
    position: relative;
    
    width: 80%;

    margin: 0 auto;
    padding: 4rem 0;

    pointer-events: none;

}

.slide {
    position: absolute;

    top: 4rem;
    right: 0;
    bottom: 4rem;
    left: 0;
}