* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#__next {
  --red: #E73634;
  --white: #FFF;
  --black: #000;
  --light: #161616;
  --lighter-black: #0E0E0E;
}